<div *ngIf="!isAuthenticated">
    <div class="nav-bar" data-aos="fade-zoom-in" [class.sticky-navbar]="scroll_postion" [ngClass]="{'animate__animated animate__fadeInDown':scroll_postion}">
        <div class="container" >
            <div class="logo-container"><img src="../../../assets/Logo.png" alt="" class="logo"></div>        
            <div class="link-container">
                <ul>
                    <li (click)="scrollTo('first-page')" >Home</li>
                    <li (click)="scrollTo('second-page')" >About Us</li>
                    <li (click)="scrollTo('fourth-page')" >Contact</li>
                    <li routerLink="/login">Login</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isAuthenticated">
    <div class="nav-bar" data-aos="fade-zoom-in" [class.sticky-navbar]="scroll_postion" [ngClass]="{'animate__animated animate__fadeInDown':scroll_postion}">
        <div class="container" >
            <div class="logo-container"><img src="../../../assets/Logo.png" alt="" class="logo"></div>        
            <div class="link-container">
                <ul>
                    <li (click)="scrollTo('first-page')" >Home</li>
                    <li (click)="scrollTo('second-page')" >About Us</li>
                    <li (click)="scrollTo('fourth-page')" >Contact</li>
                    <button class="account-btn" [matMenuTriggerFor]="menu">
                        My Account  
                        <!-- <i class="fas fa-ellipsis-v"></i>  -->
                    
                    </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="/create">
                            <i class="fas fa-address-card fa-lg"></i><span> Add Rental Advertisements</span>
                        </button>
                        <button mat-menu-item>
                            <i class="fas fa-check-circle fa-lg"></i><span> Check For Reply</span>
                        </button>
                        <button mat-menu-item  routerLink="/login"  (click)="logout()">
                            <i class="fas fa-sign-out-alt fa-lg"></i><span> Logout </span>
                        </button>
                      </mat-menu>
                </ul>
                
            </div>
        </div>
    </div>
</div>  