<div class="nav-bar" [class.sticky-navbar]="scroll_postion" [ngClass]="{'animate__animated animate__fadeInDown':scroll_postion}">
    <div class="container" >
        <div class="logo-container"><img src="../../../assets/Logo.png" alt="" class="logo"></div>        
        <div class="link-container">
            <ul>
                <li (click)="scrollTo('first-page')" >Home</li>
                <li (click)="scrollTo('second-page')" >About Us</li>
                <li (click)="scrollTo('fourth-page')" >Contact</li>
                <li >Login</li>
            </ul>
        </div>
    </div>
</div>