<app-navbar-ads></app-navbar-ads>
<div id="one-page-ad" *ngIf="singleAd && userDetails">
    <div class="return-section">
        <h1>Rental Application</h1>
        <h3>Changed your mind? <a routerLink="/ads">check other offers !</a> Or go back to <a routerLink="">Home Page</a></h3>
    </div>
    <div class="form-container">
        <h1>Landlord Information</h1>
        <h3>Name</h3>
        <h4>{{ userDetails.name }}</h4>
        <h3>Phone Number </h3>
        <h4>{{ singleAd.phoneNumber }}</h4>
        <h3>Email</h3>
        <h4>{{ userDetails.email }}</h4>
    </div>
    <div class="form-container">
        <h1>Rental Information</h1>
        <h3>House Rental Address</h3>
        <h4>{{ singleAd.adress }} / {{ singleAd.ville }}</h4>
        <h3>Rent Amoount per {{ singleAd.prixBy }}</h3>  
        <h4>{{ singleAd.prix }} dt</h4> 
        <h3>Number of Rooms</h3>
        <h4>{{ singleAd.roomNumber }}</h4>
        <h3>Description</h3>
        <h4>{{ singleAd.description }}</h4>
        <img class="ad-img"  src={{singleAd.picture}} alt="">
        <button class="apply-btn" (click)="applyRedirection()">Apply</button>
    </div>
    <div class="comment-section">
            <div class="inputs-section">
                <form nativeValidater #form >
                <input [(ngModel)]="comment.commenterName" type="text" name="commenterName" id="" placeholder="Enter your Name" required>
                <textarea [(ngModel)]="comment.theComment" name="theCommen" id="" cols="30" rows="10" placeholder="Add a comment..." required></textarea><br>
                <button (click)="form.checkValidity()?addComment():null" class="Add-comment-btn">Post</button>
                </form>
            </div>
            <div class="all-comment-section">
                <div class="one-comment-section" *ngFor="let comment of singleAd.comments">
                    <h2>{{comment.commenterName}}</h2>
                    <p>{{comment.dateOfCreation}}</p>
                    <h4>{{comment.theComment}}</h4>
                    
                </div>
            </div>
    </div>
</div>
    