<section id="second-page">
    <div class="container">
        <div class="img-container">
            <img src="../../../assets/Night Calls-cuate.svg" alt="">
        </div>
        <div class="info-container" >
            <h1  data-aos="fade-left">Our Website</h1>
            <p  data-aos="fade-left" >Eos cumque optio dolores excepturi rerum temporibus magni recusandae eveniet, totam omnis consectetur maxime quibusdam expedita dolorem dolor nobis dicta labore quaerat esse magnam unde, aperiam delectus! At maiores, itaque.</p>
            <button class="Add-btn">Add Offer</button>
        </div>
    </div>
</section>