<section id="login-page">
    <div class="container">
        <div class="col-1-container">
            <img src="../../../assets/Starry window-pana.svg" alt="">
            <button class="return-btn" routerLink="">Back To Home Page</button>
            <div class="social-media-container animate__animated animate__bounceInUp" >
                <h1>Follow Us On Our Social Media</h1>
                <a class="fab fa-facebook-square"></a>
                <a class="fab fa-twitter"></a>
                <a class="fab fa-instagram"></a>
            </div>  
        </div>
        <div class="login-form-container">
            <div class="login-card">
                <h1>Login</h1>
                <h2>Welcome to Rent.tn</h2>
                <form nativeValidater #form>
                    <input [(ngModel)]="loginUserData.email" type="email" name="email" placeholder="Email" required><br>
                    <input [(ngModel)]="loginUserData.password" type="password" name="password" placeholder="Password" required><br>
                    <button class="login-btn" (click)="form.checkValidity()? loginUser() : null">Login</button>
                </form>
            </div>
            <h3>New to Rent.tn? <a routerLink='/sign'>Join now !</a></h3>
        </div>
    </div>
</section>