<section id="fourth-page">
    <div class="container">
        <div class="submit-container">
            <h1>Get in Touch</h1>
            <input type="text" placeholder="Full Name">
            <input type="email" name="" id="" placeholder="Email">
            <textarea name="" id="" cols="30" rows="7" placeholder="Your message"></textarea>
            <button class="submit-btn">Send</button>
        </div>
        <div class="info-container" data-aos="fade-up">
            <h1>Contact Information</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            <div class="info-ico"><span class="fas fa-envelope"></span><h3>mr.ahmedothmani@gmail.com</h3></div>
            <div class="info-ico"><span class="fas fa-mobile-alt"></span><h3>+216 23560481</h3> </div>
            <div class="info-ico"><span class="fas fa-map-marker-alt"></span><h3>Tunis, Tunisia</h3> </div>
        </div>
    </div>
    <div class="social-media-container">
        <a class="fab fa-facebook-square"></a>
        <a class="fab fa-twitter"></a>
        <a class="fab fa-instagram"></a>
    </div>

</section>
