#ad-create-page{
    background-image: url("../../../assets/creatingAdBackground.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1100px;
}

.form-container{
    padding-top: 20px;
    margin-top: 20px;
    background-color: #FFFF;
    height: 1000px ;
    width: 40%;
    margin-left: 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-container{
    margin-left: 50px;
    margin-bottom: 20px;
}
.input-container span{
    margin-right: 20%;
    display: inline-block;
    width: 30%;
    
}

.input-container input{
    width: 30%;
    height: 20px;
    background-color: #F8E8E8;
    border: solid 1px rgb(180, 180, 180);
    border-radius: 10px;
    padding: 5px;  
    margin-top: 5px; 
}

.input-container textarea{
    background-color: #F8E8E8;
    border: solid 1px rgb(180, 180, 180);
    border-radius: 10px;
    padding: 5px;
    width: 30%;
    font-size: large;
}

.file-picker-btn{
    margin-top: 10px;
    margin-left: 50px;
    background-color: #F8E8E8;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid #726f6f;
}

.image-preview{
    height: 8rem;
    margin: 1rem 50px;
}
.image-preview img{
    height: 100%;
}

.sabmit-btn{
    display: block;
    margin-left: 45%;
    padding: 10px 20px;
    background-color: #ee5454;
    border: 1px solid #ee5454;
    border-radius: 30px;
    bottom: 10px;
    margin-top: 50px;
    color: #FFFF;
}

