<section id="app-page">
    <h1>Rental Application</h1>
    <h3>Changed your mind? <a routerLink="/ads">check other offers !</a> Or go back to <a routerLink="">Home Page</a></h3>
    <div class="form-container">
        <span>Full name :</span> <input type="text" name="" id="">
        <span>Phone Number :</span> <input type="text" name="" id="" required >
        <span>Email :</span> <input type="text" name="" id="">
        <span>Address :</span> <input type="text" name="" id="">
        <!-- Gender -->
        <span>Gender :</span>
        <div class="radio-btn-container"> 
            <div>
                <input type="radio" id="male" name="gender" value="HTML">
                <label>Male</label>
            </div>
            <div>
                <input type="radio" id="female" name="gender" value="CSS">
                <label >Female</label>
            </div>
        </div>
        <!-- marital status -->
        <span>Marital Status :</span>
        <div class="radio-btn-container">
            <div>
                <input type="radio" id="Student" name="occupation_status" value="HTML">
                <label>Single</label>
            </div>
            <div>
                <input type="radio" id="Employed" name="occupation_status" value="CSS">
                <label >Married</label>
            </div>
            <div>
                <input type="radio" id="Retired" name="occupation_status" value="CSS">
                <label >Other</label>
            </div>
        </div>
        <!-- occupation status -->
        <span>Occupation Status :</span>
        <div class="radio-btn-container">
            <div>
                <input type="radio" id="Student" name="occupation_status" value="HTML">
                <label>Student</label>
            </div>
            <div>
                <input type="radio" id="Employed" name="occupation_status" value="CSS">
                <label >Employed</label>
            </div>
            <div>
                <input type="radio" id="Retired" name="occupation_status" value="CSS">
                <label >Retired</label>
            </div>
            <div>
                <input type="radio" id="Unemployed" name="occupation_status" value="CSS">
                <label >Unemployed</label>
            </div>
        </div>
        <span>Comment :</span><textarea name="" id="" cols="30" rows="10"></textarea>
        <button class="submit-btn">Submit</button>
    </div>
</section>


